

:host{
  width: 100%;
  max-width: 350px;
}

.theme-card-wrapper{
  overflow: hidden;
  transition: transform 0.2s;
}

.theme-card-wrapper {
  border-radius: 20px;
}

.theme-card-wrapper:hover {
  transform: scale(1.05, 1.05)
}
