:host{
  width: 100%;
  min-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

p {
  width: 80%;
  min-height: 24px;
  max-width: 450px;
  color: #DE6075;
  background-color: #4DAAD7;
  font-family: Inter, sans-serif;
  font-size: 20px;
  text-align: center;
}
