<div [ngClass]="{
  'correct-answer-card': isCorrect(),
  'incorrect-answer-card': !isCorrect()
}">
  <p [ngClass]="{
  'correct-question-order-t': isCorrect(),
  'incorrect-question-order-t': !isCorrect()}">
    Pregunta {{getOrder()}}
  </p>

  <p [ngClass]="{
  'correct-question-t': isCorrect(),
  'incorrect-question-t': !isCorrect()}">
    {{getQuestionText()}}
  </p>

  <p class="player-answer-t"> <span class="player-answer-b"> Tu respuesta: </span> {{getSelectedAnswer()}} </p>
  <p class="correct-answer-t"> <span class="correct-answer-b"> Respuesta correcta: </span> {{getWinningAnswer()}} </p>
</div>
