

@media screen and (min-width: 768px) {
  desktop-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    min-height: 80%;
    background-color: var(--clear-background);
    gap:25px;
    padding-block: 25px;
  }
}
