# =====================
# OS
# =====================
.DS_Store
Thumbs.db
Desktop.ini
*~
.directory

# =====================
# IDEs / Editors
# =====================
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.swp

# =====================
# Frontend - Angular / npm
# =====================
node_modules/
dist/
.angular/
.cache/
npm-debug.log*

# Package managers
yarn.lock
pnpm-lock.yaml
bun.lockb

# =====================
# Backend - Spring
# =====================
target/
build/
.gradle/
out/

# =====================
# Environment / Secrets
# =====================
.env
.env.*
*.local

# =====================
# Logs
# =====================
logs/
*.log

# =====================
# Database
# =====================
*.sql
*.dump
