

.theme-name-item {
  position: relative;
  font-family: Inter, sans-serif;
  /*font-size: 24px;*/
  font-size: clamp(1.25rem, 1vw + 1.0199rem, 1.5rem);
  font-weight: 540;
  text-align: start;
  background: var(--level-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.theme-name-item::before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background: var(--level-gradient);
  border-radius: 50%;
  opacity: 0.9;
}
