

.theme-name-item {
  position: relative;
  font-family: Inter, sans-serif;
  font-size: 19px;

  text-align: start;
  background: var(--level-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.theme-name-item::before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background: var(--level-gradient);
  border-radius: 50%;
  opacity: 0.9;
}

@media screen and (min-width: 768px){
  .theme-name-item{
    font-size: clamp(1.1875rem, 0.8197vw + 0.7940rem, 1.5625rem); /* crece hasta que la pantalla tiene 1500px, donde se queda en 25px*/
  }
}
