

:host {
  display: grid;
  place-items: center;
  width: 100%;
}

.card-container {
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 400px;
  height: 420px;
  border-radius: 20px;
}

.card {
  width: 90%;
  height: 90%;
  border-radius: 30px;
  box-shadow: 4px 4px 6px #DDD;
}

@media screen and (min-width: 768px) {
  .card-container {
    min-width: 30vw;
    height: 80vh;
  }
}

