:host{
  width: 25%;
  height: 100%;
  background-color: #6640B7;
}

button{
  width: 100%;
  height: 80px;
}

/*logo para el info:*/
/*<svg width="87" height="87" viewBox="0 0 87 87" fill="none" xmlns="http://www.w3.org/2000/svg">*/
/*<path d="M50.3709 26.9103C48.4991 26.9103 47.5632 25.9411 47.5632 24.0028C47.5632 21.8768 48.4699 20.8138 50.2832 20.8138C52.155 20.8138 53.0909 21.783 53.0909 23.7214C53.0909 25.8474 52.1843 26.9103 50.3709 26.9103ZM40.0174 63.4897C36.1568 63.4897 34.2264 61.2074 34.2264 56.6428C34.2264 53.3287 35.1331 49.8271 36.9464 46.1379L43.5271 32.3503H43.7903C43.9658 32.6005 44.3168 32.7255 44.8432 32.7255C45.9546 32.7255 47.417 32.0064 49.2303 30.5683L49.4058 30.7559L41.9477 46.2317C38.8475 52.6097 37.2974 57.0492 37.2974 59.5503C37.2974 60.6759 37.5899 61.4575 38.1748 61.8952C38.7598 62.3329 39.4325 62.5517 40.1929 62.5517C41.0118 62.5517 41.8015 62.3641 42.5619 61.989C43.3808 61.6138 44.0828 61.2074 44.6677 60.7697C46.2471 59.4566 47.5632 57.9559 48.6161 56.2676C49.7275 54.5168 50.6927 52.766 51.5116 51.0152C52.3305 49.2644 53.0617 47.7949 53.7051 46.6069C53.8806 46.2943 54.0561 46.2005 54.2316 46.3255C54.4071 46.388 54.4363 46.5756 54.3193 46.8883C53.1494 49.5145 51.8626 52.2032 50.4587 54.9545C49.0548 57.7058 47.2707 59.8943 45.1064 61.52C44.346 62.0828 43.5271 62.5517 42.6497 62.9269C41.8307 63.3021 40.9533 63.4897 40.0174 63.4897Z" fill="white"/>*/
/*<path d="M43.5 0.5C67.2482 0.5 86.5 19.7518 86.5 43.5C86.5 67.2482 67.2482 86.5 43.5 86.5C19.7518 86.5 0.5 67.2482 0.5 43.5C0.500001 19.7518 19.7518 0.5 43.5 0.5Z" stroke="white"/>*/
/*</svg>*/

