@import '../../../../../shared/animations/float-container.css';

@media screen and (min-width: 1200px) {

  .card-container, .glass-card-container, .open-card {
    min-width: 30vw;
    height: 50vh;
    border-radius: 3vw;
    max-height: none;
  }

  .card, .float-container {
    min-width: 26vw;
    height: 44vh;
  }
}
