@import '../../../../../shared/animations/falling-container.css';
@import '../../../../../shared/animations/float-container.css';


:host {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.glass-card-container{
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 360px;
  height: 100%;
  border-radius: 3vw;
}

.card-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.card {
  width: 90%;
  max-width: 304px;
  height: 90%;
  border-radius: 30px;
}

.glass-card-container {
  animation-name: close-fill;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.open-card {
  animation-name: open-fill;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes open-fill {
  from {
    border-radius: 3vw;
  }
  to {
    border-radius: 0px;
  }
}

@keyframes close-fill {
  from {
    border-radius: 0px;
  }
  to {
    border-radius: 3vw;
  }
}

