

@media screen and (min-width: 768px) {

  .glass-card-container {
    position: relative;
    width: 70%;
    height: 70%;
    max-height: 320px;
  }

  .card-container {
    box-shadow: none;
    backdrop-filter: none;
    transition: transform 0.4s;
   }

  .card-container:hover {
    transform: scale(1.05);
  }

  .card {
    transition: transform 0.3s;
    background: var(--level-gradient);
  }

  app-level-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  app-theme-names-container {
    display: none;
  }

  .glass-card-container, .card-container, .card, .card::before, app-level-button, app-level-header {
    border-radius: 20vw;
  }
}

@property --degree {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes border-color {
  from {
    --degree: 0deg;
  }
  to {
    --degree: 360deg;
  }
}
