header{
  min-height: 134px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  flex-shrink: 0;
}

/*tablet*/
@media (min-width: 768px) { /* if ancho-pantalla >= 768 then... */
  header {
    min-height: 154px;
  }
}

/*desktop*/
@media (min-width: 1024px) {
  header {
    min-height: 173px;
  }
}
