

@media screen and (min-width: 768px) {

  .congrats-container {
    width: 60%;
    min-width: 260px;
    height: 80%;
    border-radius: 2vw;
    background-color: #FFF;
  }

  .title{
    font-size: 22px;
  }

  .subtitle{
    font-size: 20px;
  }
}
