:root {
  --primary-color: #263578;
  --dark-color: #202438;
  --level-color: #6640B7;
  --tematic-color: #4DAAD7;

  --level-gradient-clear: linear-gradient(154.84deg, #f7f4fe 37.44%, #e4d8fd 60.26%);
  --level-gradient: linear-gradient(70deg, var(--level-color), #A980FF);

  --play-gradient: radial-gradient(ellipse at left bottom, #263578 0%, #4662DE 100%);
  --play-hover-border-gradient: linear-gradient(90deg,rgba(235, 197, 84, 1) 0%, rgba(70, 98, 222, 1) 100%);

  --theme-gradient-clear: linear-gradient(296.88deg, #CDEFFF 38.09%, #ECF9FF 65.3%);
  --theme-gradient: radial-gradient(ellipse at left bottom, #4DAAD7 40.22%, #8FDAFF 100%);
  --theme-hover-gradient: linear-gradient(90deg, rgba(235, 197, 84, 1) 0%, rgba(143, 218, 255, 1) 100%);


  --assert-gradient: linear-gradient(120deg, #60CB48, #E7FFE2);
  --fail-gradient: linear-gradient(120deg, #DE6075, #FFD3D3);
  --oro-gradient: radial-gradient(#EBC554, #FFE2A5);


  --clear-background: #F1F1F1;

  --app-font: Inter;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

/*EBC554*/
/*4662DE*/



