@import '../../../../../shared/styles/theme-name-item.css';
@import '../../../../../shared/styles/glass-container.css';

:host {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}

section {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: #CCC2EE;
}

.glass-container {
  display: grid;
  place-items: center;
  width: 30%;
  min-width: 260px;
  height: 74%;
  min-height: 400px;
  max-height: 500px;
  border-radius: 2vh;
  background: linear-gradient(154.84deg, rgba(231, 219, 255, 0.9) 31.18%, rgba(198, 171, 255, 0.9) 54.45%);
}

.card {
  display: grid;
  grid-template-rows: 20% 80%;
  width: 92%;
  height: 92%;
  border-radius: 2vh;
}

.glass-container header {
  display: grid;
  place-items: center;
  width: 100%;
  font-size: 20px;
  border-radius: 10px 10px 0 0;
  color: var(--dark-color);
  background: linear-gradient(296.88deg, #beebff 38.09%, #ddf2fc 65.3%);
}

.glass-container .theme-names-container {
  width: 100%;
  border-radius: 0 0 10px 10px;
  background-color: #FFF;
}

.theme-names-container {
  display: grid;
  place-items: center;
}

ul {
  width: 90%;
  height: 90%;
}

li {
  margin-top: 8px;
}
