div{
  position: absolute; /*esto evita que se mueva por el flex y ademas se solapa como quiero*/
  display: grid;
  place-items: center;

  width: 140px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--clear-background);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);

  top: -70px;
  left: 50%;
  transform: translateX(-50%);
}

img{
  width: 100%;
  height: 100%;
}
