

.move-container {
  animation: move-container 8s infinite;
  animation-delay: 2s;
}

@keyframes move-container {
  0% {
    transform: translateY(-200%);
  }
  8% {
    transform: translateY(20%);
  }
  16% {
    transform: translateY(-10%);
  }
  25% {
    transform: translateY(0%);
  }
}
