

@media screen and (min-width: 768px) {

  .egb-container {
    display: grid;
    grid-template-rows: 30% 30% 30%;
    grid-template-columns: 100%;
    gap: 0;
    width: 70%;
    height: 50%;
    max-width: none;
    border-radius: 3vw;
    box-shadow: 4px 4px 4px #BBB;
    background-color: #FFF;
  }

  h3 {
    display: block;
    font-size: clamp(1.875rem, 1.3661vw + 1.2193rem, 2.5rem); /* 30 a 40; hasta 1500px*/
    text-align: center;
    font-weight: 400;
  }
}
