@media screen and (min-width: 768px) {
  div {
    width: 74%;
    max-width: 460px;
    height: 60%;
    max-height: 320px;
    display: grid;
    place-items: center;
    border-radius: 30px;
    box-shadow: 2px 2px 4px #CCC;
    background-color: #FFF;
  }

  form {
    width: 80%;
  }
}
