:host {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.flash-gradient {
  display: grid;
  place-items: center;
  align-self: self-start;
  width: 80%;
  height: 90%;
  border-radius: 16px;
  box-shadow: 2px 2px 4px #CCC;
  background-color: #FFF;
}

.flash-gradient::before {
  border-radius: 16px;
}

p {
  padding: 10px 25px;
  text-align: center;
  font-size: 18px;
}





