section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--clear-background);
}

.divider{
  height: 75px;
  background-color: var(--clear-background);
  flex-shrink: 0;

  display: none;
}

/*para evitar overlap cuando se achica la altura*/
@media (max-height: 450px) { /* if alto-pantalla <= 450 then... */
  .divider{
    display: block;
  }
}

/*tablet*/
@media (min-width: 768px) { /* if ancho-pantalla >= 768 then... */
  .divider{
    height: 85px;
  }
}

/*desktop*/
@media (min-width: 1024px) {
  .divider{
    height: 95px;
  }
}
