section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80%;

  background-color: #DE6075;

  gap:40px;

  padding-block: 25px;

  overflow-y: auto; /* no esta funcionando!*/

}

@media screen and (min-width: 768px) {
  section{
    display: grid;
    width: 100%;
    height: 80%;
    grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
    max-inline-size: 1750px;
    gap: 50px;
    background-color: #DE6075;
    margin-inline: auto;
    overflow-y: auto; /* no esta funcionando!*/
    justify-content: center;
    align-content: start;
  }
}
