:host{
  display: none;
}

/*desktop*/
@media (min-width: 1024px) {
  :host{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

img {
  display: block;
  height: 580px;
  width: 580px;
}
