

:host {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.card-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.glass-card-container {
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 360px;
  height: 100%;
  border-radius: 50px;
}

.card {
  width: 90%;
  max-width: 304px;
  height: 90%;
  border-radius: 30px;
}

@media screen and (min-width: 768px) {

  .glass-card-container {
    background-color: aqua;
  }
}

@media screen and (min-width: 1200px) {

  .card-container, .glass-card-container{
    min-width: 30vw;
    height: 80vh;
    border-radius: 3vw;
  }

  .card {
    min-width: 24vw;
    height: 72vh;
  }
}

