@import '../../../../../shared/styles/theme-name-item.css';

div {
  display: grid;
  place-items: center;
  width: 100%;
  height: 60%;
  background-color: #FFF;
}

ul {
  height: 90%;
  width: 78%;
  border-radius: 10px;
  overflow-y: auto;
  list-style-type: none;
}

li {
  margin-top: 8px;
}

p {
  display: none;
}
