@import '../../../../../shared/styles/theme-name-item.css';

div {
  display: grid;
  place-items: center;
  width: 100%;
  height: 60%;
  background-color: #FFF;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
  width: 78%;
  border-radius: 10px;
  overflow-y: auto;
  list-style-type: none;
}

p {
  display: none;
}
