@import '../../../../../shared/styles/theme-name-item.css';

@media screen and (min-width: 768px) {

  p {
    display: block;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.067);
    transition: transform 0.2s, opacity 0.2s;
  }
}
