:host{
  flex: 1;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--clear-background);
}

/*desktop*/
@media (min-width: 1024px) {
  .container{
    gap: 20px;           /* Espacio entre los componentes */
    padding: 0 20px;
  }
}
