
:host {
  width: 100%;
  height: 100%;
}

.container-without-result, .correct, .fail {
  display: grid;
  width: 100%;
  height: 100%;
}

.correct {
  background: var(--assert-gradient);
}

.fail {
  background: var(--fail-gradient);
}
