:host{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-description-container{
  width: 78%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description{
  font-family: Inter, sans-serif;
  font-size: 20px;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .description{
    font-size: 25px;
  }
}
