

.falling-container {
  transform: translateY(-100vh);
  animation-name: move-container;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

@keyframes move-container {
  0% {
    transform: translateY(-200%);
    filter: blur(1px);
  }
  25% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
    filter: initial;
  }
}
