:host{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.correct-answer-card, .incorrect-answer-card{
  width: 80%;
  min-height: 200px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2vh;
  padding: 2.5vh;

  border-radius: 2vh; /*radio de los bordes*/
  border-width: 0.7vh; /*grosor de los bordes*/
  border-style: double; /*no se*/
  border-color: transparent; /*color del borde*/
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);

  background: linear-gradient(white, white) padding-box, linear-gradient(
    var(--angle),
    #60CB48,
    white
  ) border-box;
  animation: 4s rotate linear infinite;
}

.incorrect-answer-card{
  background: linear-gradient(white, white) padding-box, linear-gradient(
    var(--angle),
    #DE6075,
    white
  ) border-box;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.correct-question-order-t{
  font-size: 18px;
  font-weight: bold;
  font-family: Inter, sans-serif;
  color: #60CB48;
}

.incorrect-question-order-t{
  font-size: 18px;
  font-weight: bold;
  font-family: Inter, sans-serif;
  color: #DE6075;
}

.correct-question-t{
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  color: #60CB48;
}

.incorrect-question-t{
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  color: #DE6075;
}

.player-answer-t{
  font-size: 16px;
}

.correct-answer-t{
  font-size: 16px;
}

.player-answer-b{
  font-weight: bold;
}

.correct-answer-b{
  font-weight: bold;
}
