

:host{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.correct-answer-card, .incorrect-answer-card {
  width: 80%;
  min-height: 200px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2vh;
  padding: 2.5vh;

  border-radius: 2vh;
  border-width: 0.5vh;
  border-style: double;
  border-color: transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.correct-answer-card{
  background-image: linear-gradient(white, white), var(--assert-gradient);
}

.incorrect-answer-card{
  background-image: linear-gradient(white, white), var(--fail-gradient);
}

.question-order-t{
  font-size: 18px;
  font-weight: bold;
  font-family: Inter, sans-serif;
}

.question-t{
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}

.player-answer-t{
  font-size: 16px;
}

.correct-answer-t{
  font-size: 16px;
}

.player-answer-b{
  font-weight: bold;
}

.correct-answer-b{
  font-weight: bold;
}
