
section {
  display: grid;
  place-items: center;
  width: 100%;
}

section div {
  display: grid;
  place-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {

  section div {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    display: grid;
    place-items: center;
    width: 90%;
  }
}
