@import './animations/next-container.css';

:host {
  position: relative;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f1f1f1
}

:host::before {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,rgb(232, 241, 255) 0%, rgb(250, 250, 250) 100%);
  opacity: 0.7;
}

section {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

section div {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 40% 60%;
}

@media screen and (min-width: 768px) {
  :host {
    display: grid;
    place-items: center;
  }

  :host::before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--play-hover-border-gradient);
    opacity: 0.2;
  }

  section div {
    grid-template-rows: 45% 55%;
    max-width: 70%;
    background: linear-gradient(0deg,rgb(239, 245, 255) 0%, rgb(250, 250, 250) 100%);
  }
}

@media screen and (min-width: 1200px) {
  section div {
    max-width: 50%;
  }
}
