:host{
  width: 100%;
  height: 100%;
}

button{
  width: 100%;
  max-width: 300px;
  height: 80px;

  font-size: 20px;
  color: #FFFFFF;
  border-radius: 20px 0 0 20px ;
  border: none;
  background: var(--tematic-color);
  background: var(--theme-gradient);
  font-family: Inter, sans-serif;
}

button:hover{
  color: var(--tematic-color);
  border-width: 3px;
  border-style: double;
  border-color: transparent;
  background-image: linear-gradient(white, white), var(--theme-hover-gradient);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.description-on{
  width: 100%;
  max-width: 300px;
  height: 80px;

  font-size: 20px;
  color: #FFFFFF;
  border-radius: 20px 0 0 0;
  border: none;
  background: var(--tematic-color);
  background: var(--theme-gradient);
  font-family: Inter, sans-serif;
}
