:host{
  width: 100dvw;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-elements-container{
  background-color: #FFFFFF;
  width: 90dvw;
  min-height: 95dvh;
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  place-items: center;
  border-radius: 20px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .card-elements-container{
    width: 80dvw;
    min-height: 80dvh;
  }
}
