:host {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

section {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--clear-background);
}

@media (min-width: 1024px) {
  section {
    grid-template-columns: 50% 50%;
  }
}

